<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Ewquests</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" placeholder="Enter your username" name="username"/> <br> <br>
        <textarea name="content" id="" cols="20" rows="3"></textarea><br> <br>
        <button class="btn">Submit Post</button>
    </form>
    
</body>
</html>